@font-face {
    font-family: "Inter";
    src: local("Inter"),
     url("../fonts/Inter-Regular.ttf") format("truetype");
    font-weight: 400;
    }
@font-face {
    font-family: "Inter";
    src: local("Inter"),
    url("../fonts/Inter-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Inter";
    src: local("Inter"),
    url("../fonts/Inter-SemiBold.ttf") format("truetype");
    font-weight: 600;
}